@charset 'utf-8';

/*  === 초기화 ===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'EB Garamond', 'Noto Sans KR', 'Noto Serif KR', sans-serif;

  font-size: 16px;
  font-weight: 400;
  /* line-height: 1.6; */
  letter-spacing: -0.4px;
}

/* === 공통 ===*/
.container {
  position: relative;
  display: block;
  width: 1820px;
  /* background-color: rgb(241, 206, 206); */
  margin: 0 auto;
}

.inner {
  position: relative;
  display: block;
  width: 1820px;
}

.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}



/* === 개별요소 === */

.l-t-icon {
  position: absolute;
  left: 0;
  top: 43px;
  display: block;
  width: 23px;
  height: 13px;
  background: url('../images/icon/ico-header-menu.png') no-repeat center;
}

/* 왼쪽 상단 메뉴 */



/* <!-- 왼쪽 상단 메뉴 --> */

/* <!-- 가림막 --> */

.left-menu-dim {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

/* <!-- 메뉴내용 --> */
.left-menu-wrap {
  position: fixed;
  left: 0px;
  top: 0;
  display: block;
  z-index: 99999;
  width: 640px;
  height: 100vh;
  background-color: #fff;
}

.l-m-w-inner {
  position: fixed;
  top: 0;
  display: block;
  width: 640px;
  height: 100%;
  padding: 50px 50px 126px;
}

.l-logo {
  position: relative;
  display: block;
  width: 146px;
  height: 45px;
  background: url('../images/icon/logo.png') no-repeat center;
  background-size: cover;
}

.close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  display: block;
  width: 18px;
  height: 18px;
  background: url('../images/icon/ico-sitemap-close.png') no-repeat center;
  background-size: cover;
}

.l-m-w-inner > ul {
  padding-top: 100px;
  padding-bottom: 50px;
  height: 100%;
}

.l-m-w-inner > ul > li {
  position: relative;
  display: block;
  height: 80px;
  padding-right: 300px;
}

.l-m-w-inner > ul > li > a {
  position: relative;
  display: block;
  padding: 22px 0;
  font-size: 30px;
  color: #333333;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.7px;

}

/* sub메뉴 */
.l-m-w-inner > ul > li > a:hover {
  color: #c9ab81;
  font-style: italic;
}

.submenu {
  position: absolute;
  right: 0;
  top: 30px;
  display: block;
  width: 280px;
  height: 300px;
  /* opacity: 0;
  visibility: hidden; */
}

.submenu li {
  margin-top: 22px;
}
.submenu > li > a {
  position: relative;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  letter-spacing: -0.5px;
}

.submenu > li > a:hover {
  color: #c9ab81;
}

/* //sub메뉴 */








.l-m-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background-color: #f8f8f8;
  width: 100%;
}

.l-m-info ul {
  position: relative;
  display: block;
  padding: 50px;
}

.l-m-info ul li {
  position: relative;
  display: block;
  float: left;
  margin-left: 20px;
  padding-left: 21px;
}

.l-m-info ul li:first-child {
  margin-left: 0px;
  padding-left: 0px;
}

.l-m-info ul li:first-child::after {
  display: none;
}

.l-m-info ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 1px;
  height: 10px;
  background-color: #c9ab81;
}

.l-m-info ul li a {
  position: relative;
  display: block;
  font-size: 16px;
  color: #666;
  line-height: 26px;
}
.l-m-info ul li a:hover {
  color: #c9ab81;
}
/* <!-- //왼쪽 상단 메뉴 --> */


/* header */
.header {
  position: sticky;
  top: 0;
  display: block;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 999999;
}


.top-gnb {
  position: absolute;
  left: 75px;
  display: block;
  height: 100%;
  float: left;
}

.top-gnb ul {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}

.top-gnb ul li {
  position: relative;
  display: block;
  margin-left: 37px;
}

.top-gnb ul li:first-child {
  margin-left: 0;
}

.top-gnb ul li a {
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 20px;
}

/* .top-gnb ul li a  호버 효과 */
.top-gnb ul li a:hover {
  color: #000;
  font-weight: 600;
}

/* /////.top-gnb ul li a  호버 효과 */



.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -73px;
  margin-top: -22.5px;
}

.logo a {
  position: relative;
  display: block;
  width: 146px;
  height: 45px;
  background: url('../images/icon/logo.png') no-repeat center;
}

.top-info {
  position: absolute;
  right: 50px;
  display: block;
  height: 100%;
  float: right;
}

.top-info ul {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: right;
  height: 100%;
}

.top-info ul li {
  position: relative;
  display: block;
  margin-left: 37px;
}

.top-info ul li a {
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  font-weight: 500;
}

.top-info ul li a span {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  color: #c9ab81;
  line-height: 1;
}

.r-t-icon {
  position: absolute;
  right: 0;
  top: 44px;
  width: 20px;
  height: 20px;
  background: url('../images/icon/ico-header-search.png') no-repeat center;
}

/* //header */


/* main slider */
.main-slider {
  position: relative;
  display: block;
}

.sw-visual {
  position: relative;
  display: block;
  width: 100%;
  height: 762px;
}

.sw-visual a {
  position: relative;
  display: block;
  width: 100%;
  height: 762px;
}


.vs-1 {
  background-color: violet;
}

.vs-2 {
  background-color: aquamarine;
}

.vs-3 {
  background-color: cadetblue;
}

.vs-text {
  position: absolute;
  top: 300px;
  left: 210px;
  display: block;
  width: 1400px;
  height: 100%;
  z-index: 99999;
}

.vs-text p {
  position: relative;
  display: block;
  font-size: 24px;
  color: #fff;
}

.vs-text h2 {
  position: relative;
  display: block;
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  margin-top: 40px;
}

.sw-visual-pgbox {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgb(29, 29, 172);
  width: 910px;
  height: 140px;
  z-index: 99;
}

/* //main slider */


/* best art */
.best-art {
  position: relative;
  display: block;
}

.b-art-text {
  position: relative;
  display: block;
  background-color: #fff;
  height: 392px;
  padding-top: 180px;
  text-align: center;
}

.b-art-text p {
  position: relative;
  display: block;
  font-family: 'Noto Serif KR';
  font-size: 20px;
  color: #c9ab81;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.b-art-text h2 {
  position: relative;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  color: #211e1f;
  font-weight: 500;
  letter-spacing: 5.5px;
  padding: 0 80px;
}

/* .b-art-text h2  사이드바*/
.b-art-text h2::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -0.5px;
  width: 170px;
  height: 1px;
  background: #211e1f;
}

.b-art-text h2::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -0.5px;
  width: 170px;
  height: 1px;
  background: #211e1f;
}

/* ////.b-art-text h2  사이드바*/

.b-art-slider-box {
  position: relative;
  display: block;
  width: 1400px;
  margin: 0 auto;
}

.b-art-pobox {
  position: relative;
  display: block;
  width: 327px;
  height: 700px;
}

.b-art-pobox div {
  position: relative;
  display: block;
  width: 327px;
  height: 450px;
}

.b-art-pobox a {
  position: relative;
  display: block;
  font-family: 'Noto Serif KR';
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}

.b-art-pobox span {
  position: relative;
  display: block;
  font-size: 16px;
  font-family: 'Noto Serif KR';
  margin-top: 25px;
  color: #c9ab81;
}

.b-art-pobox p {
  position: relative;
  display: block;
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: #888;
  margin-top: 20px;
  margin-bottom: 30px;
}

.b-art-pobox h5 {
  position: relative;
  display: block;
  font-size: 20px;
  color: #333333;
  font-family: 'Noto Serif KR';
  font-weight: 500;
}

.b-art-pobox h5 strong {
  font-family: 'EB Garamond';
  font-size: 36px;
  font-weight: 500;
  color: #333333;
  margin-right: 5px;
}

.pobox-1 {
  background: url('../images/pobox\ img\ 1.jpg') no-repeat center;
  background-size: cover;
}

.pobox-2 {
  background: url('../images/pobox\ img\ 2.jpg') no-repeat center;
  background-size: cover;
}

.pobox-3 {
  background: url('../images/pobox\ img\ 3.jpg') no-repeat center;
  background-size: cover;
}

.pobox-4 {
  background: url('../images/pobox\ img\ 4.jpg') no-repeat center;
  background-size: cover;
}

.pobox-5 {
  background: url('../images/pobox\ img\ 5.jpg') no-repeat center;
  background-size: cover;
}

/* 베스트 아트 nav */
.sw-b_art-prev {
  background: url('../images/nav\ prev.png') no-repeat center;
  position: absolute;
  top: 320px;
  left: -100px;
}

.sw-b_art-next {
  background: url('../images/nav-next.png') no-repeat center;
  position: absolute;
  top: 320px;
  right: -95px;
}

/* //베스트 아트 nav */

.b-art-pagintion {
  position: relative;
  display: block;
  height: 215px;
}

.b-art-pg {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* sw b-art-pg */
.swiper-pagination-bullet {
  opacity: 1;
  display: inline-block;
  margin: 0 14px;
  width: 5px;
  height: 5px;
  transition: all 0.4s ease;
  background-color: #666;
}

.swiper-pagination-bullet-active {
  background-color: #333;
  transform: scale(1.4);
}

/* //best art */


/* md pick */
.md-pick {
  position: relative;
  display: block;
}

.md-pick .inner {
  background: url('../images/pick-bg.jpg') no-repeat center;
  background-size: cover;
  height: 1052px;
  padding: 100px 0 210px;
}

.md-p-text {
  position: relative;
  display: block;
  height: 240px;
  text-align: center;
}

.md-p-text p {
  position: relative;
  display: block;
  font-family: 'Noto Serif KR';
  font-size: 20px;
  color: #c9ab81;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.md-p-text h2 {
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: #211e1f;
  font-weight: 500;
  letter-spacing: 5.5px;
  padding: 0 80px;
}

/* .b-art-text h2  사이드바*/
.md-p-text h2::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -0.5px;
  width: 170px;
  height: 1px;
  background: #211e1f;
}

.md-p-text h2::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -0.5px;
  width: 170px;
  height: 1px;
  background: #211e1f;
}

/* ///.b-art-text h2  사이드바*/

.art-select {
  position: relative;
  display: block;
  text-align: center;
}

.art-select a {
  color: #333;
  font-weight: 500;
}

.art-select span {
  margin: 0 20px;
  color: #dddddd;
}

.md-mainbox {
  position: relative;
  display: block;
  width: 1340px;
  height: 500px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 1px 3px 13px 0px rgba(0, 0, 0, 0.13);
}

.md-main-img {
  position: absolute;
  top: 60px;
  left: -60px;
  display: block;
  width: 50%;
  height: 100%;
  background: url('../images/md\ pick\ img.1.jpg') no-repeat center;
  background-size: 100%;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}

.md-main-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  float: right;
  padding: 0 80px 0 60px;
}

.md-main-text span {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 8px;
  font-family: 'Noto Serif KR';
  font-size: 16px;
  color: #c9ab81;
  letter-spacing: -0.7px;
  line-height: 26px;
}

.md-main-text p b {
  position: relative;
  display: block;
  margin-bottom: 30px;
  font-family: 'Noto Serif KR';
  font-size: 36px;
  color: #333333;
  font-weight: 700;
  line-height: 46px;
}

.md-main-text p span {
  position: relative;
  display: block;
  max-height: 78px;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  color: #666666;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.md-main-text a {
  position: relative;
  display: block;
  height: 50px;
}

/* //md pick */


/* new art */
.new-art {
  position: relative;
  display: block;
}

.new-a-text {
  position: relative;
  display: block;
  height: 292px;
  padding-top: 100px;
  text-align: center;
}

.new-a-text p {
  position: relative;
  display: block;
  font-family: 'Noto Serif KR';
  font-size: 20px;
  color: #c9ab81;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.new-a-text h2 {
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: #211e1f;
  font-weight: 500;
  letter-spacing: 5.5px;
  padding: 0 80px;
}

/*.new-a-text h2  사이드바*/
.new-a-text h2::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -0.5px;
  width: 170px;
  height: 1px;
  background: #211e1f;
}

.new-a-text h2::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -0.5px;
  width: 170px;
  height: 1px;
  background: #211e1f;
}

/* ///.b-art-text h2  사이드바*/

.n-art-slider-box {
  position: relative;
  display: block;
  width: 1400px;
  height: 940px;
  margin: 0 auto;
}

.new-slide-box {
  position: relative;
  display: block;
  width: 450px;
  height: 800px;
  background-color: rgb(255, 255, 255);
}

.newart-imgbox {
  position: relative;
  display: block;
  width: 100%;
  height: 620px;
}

.nai-1 {
  background: url('../images/newart\ img\ 1.jpg') no-repeat center;
  background-size: cover;
}

.nai-2 {
  background: url('../images/newart\ img\ 2.jpg') no-repeat center;
  background-size: cover;
}

.nai-3 {
  background: url('../images/newart\ img\ 3.jpg') no-repeat center;
  background-size: cover;
}

.nai-4 {
  background: url('../images/newart\ img\ 4.jpg') no-repeat center;
  background-size: cover;
}

.nai-5 {
  background: url('../images/newart\ img\ 5.jpg') no-repeat center;
  background-size: cover;
}

.newart-textbox {
  position: absolute;
  top: 545px;
  left: 0;
  display: block;
  width: 100%;
}


.nat1 {
  position: relative;
  display: block;
  width: 85%;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
}

.nat1 span {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-family: 'Noto Serif KR';
  color: #c9ab81;
  letter-spacing: -0.7px;
}

.nat1 h4 {
  position: relative;
  display: block;
  font-family: 'Noto Serif KR';
  font-size: 24px;
  color: #333;
  font-weight: 600;
}

.newart-textbox p {
  position: relative;
  display: block;
  height: 78px;
  font-family: 'Noto Sans KR';
  color: #666;
  line-height: 26px;
  margin-top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 뉴 아트 nav */
.sw-n_art-prev {
  background: url('../images/nav\ prev.png') no-repeat center;
  position: absolute;
  top: 382px;
  left: -100px;
}

.sw-n_art-next {
  background: url('../images/nav-next.png') no-repeat center;
  position: absolute;
  top: 382px;
  right: -100px;
}

/* //뉴 아트 nav */



/* //new art */


/* more gallery */
.more-gallery {
  position: relative;
  display: block;
}

.more-gallery .inner {
  position: relative;
  display: block;
  height: 663px;
  background: url('../images/gallery-bg.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.gallbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1400px;
  height: 370px;
  background-color: #fff;
  opacity: 0.7;
  text-align: center;
  padding: 80px 20px;
}

.gallbox span {
  position: relative;
  display: block;
  font-size: 40px;
  color: #211e1f;
  line-height: 50px;
  font-weight: 600;
  opacity: 1;
}

.gallbox p {
  position: relative;
  display: block;
  font-family: 'Noto Serif KR';
  font-size: 18px;
  color: #333;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-top: 30px;
}

.gallbox a {
  position: relative;
  display: block;
  margin-top: 60px;
}

/* //more gallery */


/* review */
.review {
  position: relative;
  display: block;
  padding: 150px 0 160px;
}

.review-text {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 90px;
}

.review-text p {
  position: relative;
  display: block;
  font-family: 'Noto Serif KR';
  font-size: 20px;
  color: #c9ab81;
  letter-spacing: -1px;
  margin-bottom: 12px;
}

.review-text h2 {
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: #211e1f;
  font-weight: 500;
  letter-spacing: 5.5px;
  padding: 0 80px;
}

/*.review-text h2  사이드바*/
.review-text h2::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -0.5px;
  width: 170px;
  height: 1px;
  background: #211e1f;
}

.review-text h2::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -0.5px;
  width: 170px;
  height: 1px;
  background: #211e1f;
}

/* ///..review-text h2  사이드바*/


.r-slider-box {
  position: relative;
  display: block;
  width: 1400px;
  margin: 0 auto;
}

.rev-pobox {
  position: relative;
  display: block;
}

.rev-r-top {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 53px;
  height: 53px;
  background-color: #fff;
  z-index: 99;
}

.rev-r-top p {
  position: relative;
  display: block;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #c9ab81;
}

.rev-r-top p strong {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1.5px;
}

.revbox-1 {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  background: url('../images/rev\ img\ 1.png') no-repeat center;
  background-size: cover;
}

.revbox-2 {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  background: url('../images/rev\ img\ 2.png') no-repeat center;
  background-size: cover;
}

.revbox-3 {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  background: url('../images/rev\ img\ 3.png') no-repeat center;
  background-size: cover;
}

.re-text-sml {
  position: relative;
  display: block;
  background-color: rgb(185, 185, 230);
  margin-top: 30px;
}

.re-text-sml h5 span {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans KR";
  font-size: 15px;
  color: #c9ab81;
}

.rtsml-t {
  position: relative;
  display: block;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.rtsml-t p {
  position: relative;
  display: block;
  color: #666666;
  line-height: 26px;
}

.re-text-sml a {
  position: relative;
  display: block;
  font-size: 18px;
  margin-top: 30px;
}

/* 리뷰 nav */
.sw-r_art-prev {
  background: url('../images/nav\ prev.png') no-repeat center;
  position: absolute;
  top: 268px;
  left: -100px;
}

.sw-r_art-next {
  background: url('../images/nav-next.png') no-repeat center;
  position: absolute;
  top: 268px;
  right: -100px;
}

/* //리뷰 nav */

/* 리뷰 pg */
.r-art-pagintion {
  position: relative;
  display: block;
  width: 100%;
  height: 7px;
  margin-top: 83px;
}

.r-pg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* //review */


/* footer */
.footer {
  position: relative;
  display: block;
  background-color: #272727;
  height: 264px;
  padding: 60px 0;
}

.footer .inner {
  position: relative;
  display: block;
  width: 1400px;
  margin: 0 auto;
  font-size: 16px;
  color: #888888;
  font-weight: 500;
  line-height: 26px;
}

.footer .inner ul {
  margin-bottom: 30px;
}

.footer .inner ul li {
  position: relative;
  display: block;
  float: left;
  margin-right: 25px;
}

.footer .inner ul li a {
  font-size: 16px;
  color: #888888;
  font-weight: 500;
}

.footer .inner p {
  position: relative;
  display: block;
  margin-top: 20px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  letter-spacing: -0.5px;
}

.copyright {
  color: #888;
  line-height: 26px;
  font-weight: 500;
  font-family: 'EB Garamond';
  letter-spacing: -0.5px;
}



.gotop-icon {
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #c9ab81;
  border: 0;
}

.gotop-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -7.5px;
  width: 10px;
  height: 15px;
  background: url('../images/ico-go-top.png') no-repeat center;
}

/* //footer */