@charset 'utf-8';

/* 프리텐다드 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* === 초기화 === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "EB Garamond", "Noto Sans KR", "Noto Serif KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
}
/* ------------------------------------------------------------------------------------ */
/* === 공통 === */
.wrap {
  position: relative;
  display: block;

  overflow: hidden;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
}

section {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 50px;
}
@media all and (max-width: 1440px) {
  section {
    padding: 0 20px;
  }
}

/* .clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
} */

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* bt set */
.btnset {
  display: block;
  border: none;
  box-shadow: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

/* bt - 1 */
.btn-type01 {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 45px;
  font-size: 15px;
  color: #333;
  line-height: 45px;
  font-weight: 500;
  text-align: center;
}

.btn-type01 span {
  display: inline-block;
  vertical-align: text-bottom;
}

.btn-type01 svg {
  position: absolute;
  left: 0;
  top: 0;
}

.btn-type01 svg rect {
  fill: transparent;
  stroke: #c9ab81;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  stroke-width: 2px;
  stroke-dashoffset: 240%;
  stroke-dasharray: 338% 27;
}

.btn-type01:hover {
  border-color: transparent !important;
}

.btn-type01:hover svg rect {
  stroke-dashoffset: -121% !important;
}

/* bt - 2 */
.bt-type-2 {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  font-size: 18px;
  color: #333333;
  line-height: 28px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.bt-type-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  margin-top: -0.5px;
  width: 35px;
  height: 1px;
  background: #c9ab81;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.bt-type-2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5px;
  width: 35px;
  height: 1px;
  background: #c9ab81;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.bt-type-2:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.bt-type-2:hover::after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* 타이틀 텍스트 */
.title-txt {
  position: relative;
  display: block;
  text-align: center;
}

.title-txt p {
  position: relative;
  display: block;
  font-family: "Noto Serif KR";
  font-size: 20px;
  letter-spacing: -1px;
  color: #c9ab81;
  margin-bottom: 12px;
}

.title-txt h2 {
  position: relative;
  display: inline-block;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 5.5px;
  color: #211e1f;
  text-align: center;
  padding: 0 80px;
}

/* .title-txt h2  사이드바*/
.title-txt h2::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  width: 170px;
  height: 1px;
  background: #211e1f;
  margin-top: -0.5px;
}

.title-txt h2::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  width: 170px;
  height: 1px;
  background: #211e1f;
  margin-top: -0.5px;
}

/* bar animtion */
.title-txt.aos-animate h2::before,
.title-txt.aos-animate h2::after {
  -webkit-animation: mainTitAni 1.2s forwards;
  animation: mainTitAni 1.2s forwards;
}

@-webkit-keyframes mainTitAni {
  from {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
    width: 170px;
  }
}

@keyframes mainTitAni {
  from {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
    width: 170px;
  }
}
/* 반응형 */
@media all and (max-width: 1025px) {
  .title-txt p {
    font-size: 18px;
  }
  .title-txt h2 {
    font-size: 42px;
    padding: 0 40px;
  }
}
@media all and (max-width: 770px) {
  .title-txt p {
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 1.5;
  }
  .title-txt h2 {
    padding: 0 20px;
    font-size: 32px;
    letter-spacing: 3px;
  }
  .title-txt h2::before {
    content: none;
  }
  .title-txt h2::after {
    content: none;
  }
}
/* ------------------------------------------------------------------------------------ */
/* === 개별요소 === */

.l-t-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 23px;
  height: 13px;
  background: url("../images/icon/ico-header-menu.png") no-repeat center;
}
/* ------------------------------------------------------------------------------------ */
/*  ==== Modal Popup ==== */
.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;

  transition: all 0.5s;
}

.modal-close-active {
  opacity: 0;
  visibility: hidden;
}
.modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 50px;

  font-family: "Pretendard-Regular";
}

/* top */
.modal-top {
  position: relative;
  display: block;
}
.modal-title {
  position: relative;
  display: block;
  width: 80%;
  height: 40px;

  background-color: #29306a;
  border-radius: 5px;
  margin: 10px auto;

  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.modal-top ul {
  position: relative;
  display: block;
}
.modal-top ul::after {
  content: "🔥 문제시 연락해주시면 삭제하겠습니다.";

  font-size: 14px;
  color: #c25151;
}
.modal-top ul li {
  position: relative;
  display: block;

  line-height: 25px;
}
.modal-top ul li span {
  color: #67af55;
  font-weight: 600;
}
.modal-top ul li .modal-email {
  color: #29306a;
}
/* middle */
.modal-middle {
  position: relative;
  display: block;

  margin: 20px 0;
}
.modal-subTitle {
  position: relative;
  display: block;

  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.modal-middle ul {
  position: relative;
  display: block;
}
.modal-middle ul li {
  line-height: 25px;
}
/* bottom */
.modal-bottom {
  position: relative;
  display: block;

  margin: 20px 0;
}
.modal-bottom p {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.modal-bottom p span {
  color: #4285f4;
}
.modal-close {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 200px;
  height: 40px;

  background-color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 20px;

  transition: all 0.3s;
  cursor: pointer;
}
.modal-close:hover {
  background-color: #67af55;
  color: #fff;
}
/*  ==== /// Modal Popup ==== */
/* ------------------------------------------------------------------------------------ */
/* ========= 왼쪽 상단 메뉴 ========= */
.leftSide-menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  visibility: hidden;
}
.leftSide-menu-wrap-open {
  visibility: visible;
}

/* <!-- 가림막 --> */
.left-menu-dim {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);

  transition: all 0.7s;
}
.leftSide-menu-wrap-open .left-menu-dim {
  background-color: rgba(0, 0, 0, 0.7);
}

/*  <!-- 메뉴내용 --> */
.left-menu-wrap {
  position: absolute;
  left: -640px;
  top: 0;
  display: block;
  width: 640px;
  height: 100%;
  background-color: #fff;
  transition: all 0.7s;
  z-index: 99999;
}

.left-menu-wrap-open {
  left: 0;
}

.l-m-w-inner {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 50px 50px 126px;
}

.l-logo {
  position: relative;
  display: block;
  width: 146px;
  height: 45px;
  background: url("../images/icon/logo.png") no-repeat center;
  background-size: cover;
}

.close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../images/icon/ico-sitemap-close.png") no-repeat center;
  background-size: cover;
}

.l-m-w-inner > ul {
  margin-top: 100px;
  padding-bottom: 50px;
  height: 100%;
  overflow-y: auto;
}

.l-m-w-inner > ul > li {
  position: relative;
  display: block;
  padding-right: 300px;
}

.l-m-w-inner > ul > li > a {
  position: relative;
  display: block;
  padding: 22px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.7px;
  color: #333333;
  white-space: nowrap;
  transition: all 0.3s;
}

.l-m-w-inner > ul > li:hover > a {
  font-style: italic;
  color: #c9ab81;
}

/* sub메뉴 */

@media (hover: hover) {
  .l-m-w-inner > ul > li:hover .submenu {
    visibility: visible;
  }
}

.submenu {
  position: absolute;
  right: 0;
  top: 10px;
  display: block;
  width: 280px;

  visibility: hidden;
  z-index: 999;
}
.leftSide-menu-wrap-open .submenu-responsive {
  display: block;
}
.submenu li {
  margin-top: 22px;
}

.submenu > li > a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #333333;
}

.submenu > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: #c9ab81;
  border-radius: 10%;
  transition: all 0.3s;
}

.submenu > li > a:hover {
  color: #c9ab81;
}

.submenu > li > a:hover:after {
  width: 100%;
}

/* //sub메뉴 */

.l-m-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 9999;
}

.l-m-info ul {
  position: relative;
  display: block;
  padding: 50px;
}

.l-m-info ul li {
  position: relative;
  display: block;
  float: left;
  margin-left: 20px;
  padding-left: 21px;
}

.l-m-info ul li:first-child {
  margin-left: 0px;
  padding-left: 0px;
}

.l-m-info ul li:first-child::after {
  display: none;
}

.l-m-info ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 1px;
  height: 10px;
  background-color: #c9ab81;
}

.l-m-info ul li a {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #666;
}

.l-m-info ul li a:hover {
  color: #c9ab81;
}
/* 반응형 */
@media all and (max-width: 770px) {
  .left-menu-wrap {
    left: -100%;
    width: 100%;
  }
  .left-menu-wrap-open {
    left: 0;
  }
  .l-m-w-inner > ul > li > a {
    padding: 10px 0;
    font-size: 24px;
  }
  .submenu {
    position: relative;
    display: none;
    left: 0;
    visibility: visible;
  }
  .submenu li {
    margin-top: 15px;
  }
  .submenu li:last-child {
    margin-bottom: 15px;
  }
}
@media all and (max-width: 600px) {
  .l-m-w-inner > ul > li {
    padding-right: 100px;
  }
}
/* ========= ///메뉴내용 ========= */
/* ------------------------------------------------------------------------------------ */
/* ========= header ========= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding: 0 50px;

  z-index: 9999;
  transition: all 0.5s;
  visibility: visible;
}

.header-close {
  top: -105px;
  visibility: hidden;
}

.header .inner {
  width: 100%;
  height: 100%;
  margin: 0;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo a {
  position: relative;
  display: block;
  width: 146px;
  height: 45px;
  background: url("../images/icon/logo.png") no-repeat center;
  background-size: contain;
}

.top-gnb {
  position: absolute;
  left: 75px;
  display: block;
  float: left;
  height: 100%;
}

.top-gnb ul {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}

.top-gnb ul li {
  position: relative;
  display: block;
  margin-left: 37px;
}

.top-gnb ul li:first-child {
  margin-left: 0;
}

.top-gnb ul li a {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #333;
}

/* .top-gnb ul li a  호버 효과 */
.top-gnb ul li a:hover {
  font-weight: 600;
  color: #000;
}
/* /////.top-gnb ul li a  호버 효과 */

.top-info {
  position: absolute;
  right: 50px;
  display: block;
  float: right;
  height: 100%;
}

.top-info ul {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: right;
  height: 100%;
}

.top-info ul li {
  position: relative;
  display: block;
  margin-left: 37px;
}

.top-info ul li a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #333;
}

.top-info ul li a span {
  font-family: "Noto Sans KR";
  font-size: 16px;
  line-height: 1;
  color: #c9ab81;
}

/* ===== 반응형 ===== */
@media all and (max-width: 1600px) {
  .top-gnb ul li {
    margin-left: 25px;
  }
  .top-info ul li {
    margin-left: 25px;
  }
}
@media all and (max-width: 1440px) {
  .header {
    height: 70px;
  }
  .top-gnb {
    display: none;
  }
  .top-info {
    display: none;
  }
}
@media all and (max-width: 770px) {
  .logo a {
    width: 110px;
    height: 34px;
    background: url("../images/icon/logo.png") no-repeat center;
    background-size: contain;
  }
}
/* ========= ///header ========= */
/* ------------------------------------------------------------------------------------ */
/* ========= 검색창 ========= */
.r-t-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/icon/ico-header-search.png") no-repeat center;
}

/* 창 내용 */
.all-search-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background: url("../images/all-search-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 50px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  z-index: 99999999;
}

.all-search-wrap-open {
  visibility: visible;
  opacity: 1;
}

.all-search-wrap .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.all-search-close-bt {
  position: absolute;
  top: 48px;
  right: 48px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../images/icon/ico-header-search-close.png") no-repeat center;
  background-size: cover;
}

.all-search-main {
  position: relative;
  display: block;
  max-width: 1160px;
  width: calc(100% - 100px);
}

.search-box {
  position: relative;
  display: block;
  width: 100%;
}

.search-box label {
  width: 1px;
  height: 1px;
}

.search-txt {
  position: relative;
  display: block;
  width: 100%;
  height: 96px;
  font-family: "EB Garamond", "Noto Serif KR";
  font-size: 45px;
  font-weight: 600;
  color: #333;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #c9ab81;

  outline-style: none;
}

.search-txt::placeholder {
  color: #c9ab81;
}

.search-submit {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/icon/ico-header-search-color.png") no-repeat center;
  background-size: cover;
  border: none;
}

.search-word {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.vertical-bar {
  position: relative;
  bottom: -62px;
  display: inline-block;
  width: 2px;
  height: 114px;
  background-color: #c9ab81;
  opacity: 0.8;
}

.search-word h3 {
  position: relative;
  display: block;
  font-family: "Noto Serif KR";
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #333;
  padding-bottom: 30px;
}

.search-word ul li a {
  position: relative;
  font-family: "Noto Sans KR";
  font-size: 16px;
  line-height: 22px;
  color: #666;
}

.recent-searches {
  position: relative;
  display: block;
  width: 33%;
  padding-right: 60px;
}

.recent-searches li {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 100px;
  margin-top: 24px;
}

.recent-searches li:nth-child(2) {
  margin-top: 0;
}

.recent-searches li span {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  color: #888;
}

.recent-del {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../images/icon/ico-recent-word-delete.png") no-repeat center;
  background-size: cover;
  border: none;
  margin-left: 9px;
  cursor: pointer;
}

.popular-searches {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  width: 66%;
  padding-left: 60px;
}
.popular-searches h3 {
  display: block;
  width: 100%;
}

.popular-searches li {
  position: relative;
  display: inline-block;
  min-width: 28%;
  margin-left: 2%;
  margin-bottom: 24px;
}

/* 반응형 */
@media all and (max-width: 1440px) {
  .all-search-wrap {
    padding: 20px;
  }
  .all-search-main {
    width: calc(100% - 40px);
  }
}
@media all and (max-width: 1025px) {
  .search-word {
    flex-direction: column;
    margin-top: 40px;
  }
  .search-word h3 {
    font-size: 15px;
    padding-bottom: 15px;
  }
  .search-word ul li a {
    font-size: 14px;
  }
  .search-txt {
    height: 60px;
    font-size: 30px;
  }
  .vertical-bar {
    display: none;
  }
  /* -- */
  .recent-searches {
    width: 100%;
  }
  .recent-searches li {
    margin-top: 5px;
  }
  /* -- */
  .popular-searches {
    width: 100%;
    padding-left: 0;
  }
  .popular-searches h3 {
    margin-top: 30px;
  }
  .popular-searches li {
    min-width: auto;
    margin-bottom: 0;
  }
}
/* ========= /// 검색창 ========= */
/* ------------------------------------------------------------------------------------ */
/* ========= main slider =========*/
.main-slider {
  position: relative;
  display: block;
  height: 100vh;
  padding: 100px 50px 50px;
}

.sw-visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-visual a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: all 3s;
}

.vs-1 {
  background: url("../images/visual_bg_1.jpg") no-repeat center;
  background-size: cover;
}

.vs-2 {
  background: url("../images/visual_bg_2.jpg") no-repeat center;
  background-size: cover;
}

.vs-3 {
  background: url("../images/visual_bg_3.jpg") no-repeat center;
  background-size: cover;
}

.sw-visual .swiper-slide {
  overflow: hidden;
}

.sw-visual .swiper-slide-active a {
  transform: scale(1);
}

.vs-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 73vw;
  transform: translate(-50%, -50%);
  display: block;

  z-index: 99999;
}

.vs-text p {
  position: relative;
  transform: translateY(200%);
  display: block;
  font-size: 24px;
  color: #fff;
  opacity: 0;
  transition: all 1.2s 1s;
}

.vs-text h2 {
  position: relative;
  transform: translateY(100%);
  display: block;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 40px;
  opacity: 0;
  transition: all 1.3s 1.2s;
}

.sw-visual .swiper-slide-active .vs-text p {
  transform: translateY(0);
  opacity: 1;
}

.sw-visual .swiper-slide-active .vs-text h2 {
  transform: translateY(0);
  opacity: 1;
}

/* sw visual pg */
.sw-visual-control {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #fff;
  width: 47.5vw;
  height: 140px;
  padding: 20px 0 0 100px;
  z-index: 99;
}

.visual-pg {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.visual-pg .swiper-pagination-bullet {
  position: relative;
  display: block;
  width: 33%;
  height: 100%;
  margin: 0;
  padding: 20px 10px 0;
  color: #000;
  text-align: left;
  background-color: transparent;
  border-radius: 0;
  opacity: 0.2;
}

.visual-pg .swiper-pagination-bullet strong {
  position: relative;
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: #888;
  margin-bottom: 13px;
}

.visual-pg .swiper-pagination-bullet p {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #333;
}

.visual-pg .swiper-pagination-bullet-active {
  position: relative;
  display: block;
  width: 33.3333%;
  height: 100%;
  transform: scale(1);
  opacity: 1;
}

.visual-pg .swiper-pagination-bullet-active strong {
  color: #c9ab81;
}

/* cursor */
.sw-visual .swiper-button-prev {
  opacity: 0 !important;
  left: 0 !important;
  top: 0 !important;
  margin: 0 !important;
  width: 30% !important;
  height: 100% !important;
  background: none !important;
}

.sw-visual .swiper-button-next {
  opacity: 0 !important;
  right: 0 !important;
  top: 0 !important;
  margin: 0 !important;
  width: 30% !important;
  height: 100% !important;
  background: none !important;
}

/* ===== CURSOR ===== */
.cursor-ball {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  pointer-events: none;
}

.cursor-ball .ball {
  opacity: 0.5;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #fff;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.cursor-ball .text {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  line-height: 18px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "EB Garamond", "Noto Sans KR", "Noto Serif KR", "Malgun Gothic",
    dotum, sans-serif;
}

.cursor-able {
  cursor: pointer;
}
/* ===== 반응형 ===== */
@media all and (max-width: 1600px) {
  .main-slider {
    padding-top: 70px;
  }
  .sw-visual-control {
    padding: 20px 0 20px 2.6vw;
  }
}
@media all and (max-width: 1440px) {
  .main-slider {
    padding: 70px 20px 20px;
  }
  .vs-text p {
    font-size: 20px;
  }
  .vs-text h2 {
    font-size: 50px;
  }
  /* == pagination == */
  .sw-visual-control {
    width: 30%;
    height: 70px;
  }
  .visual-pg .swiper-pagination-bullet {
    padding-top: 5px;
  }
  .visual-pg .swiper-pagination-bullet strong {
    font-size: 24px;
  }
  .visual-pg .swiper-pagination-bullet p {
    display: none;
  }
}
@media all and (max-width: 1020px) {
  .vs-text p {
    font-size: 18px;
  }
  .vs-text h2 {
    font-size: 40px;
  }
}
@media all and (max-width: 770px) {
  .vs-text p {
    font-size: 16px;
  }
  .vs-text h2 {
    font-size: 32px;
  }
  .visual-pg .swiper-pagination-bullet strong {
    font-size: 16px;
  }
}
@media all and (max-width: 500px) {
}

/* ========= ///main slider ========= */
/* ------------------------------------------------------------------------------------ */
/* ========= best art ========= */
.best-art {
  padding-top: 130px;
}

.b-art-slider-box {
  position: relative;
  display: block;
  width: 1400px;
  margin: 0 auto;
  margin-top: 120px;
}

.b-art-pobox {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.b-art-pobox > a {
  position: relative;
  display: block;
  font-family: "Noto Serif KR";
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}

.b-art-pobox > span {
  position: relative;
  display: block;
  font-size: 16px;
  font-family: "Noto Serif KR";
  color: #c9ab81;
  margin-top: 25px;
}

.b-art-pobox p {
  position: relative;
  display: block;
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: #888;
  margin-top: 20px;
  margin-bottom: 30px;
}

.b-art-pobox h5 {
  position: relative;
  display: block;
  font-family: "Noto Serif KR";
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}

.b-art-pobox h5 strong {
  font-family: "EB Garamond";
  font-size: 36px;
  font-weight: 500;
  color: #333333;
  margin-right: 5px;
}

.pobox {
  position: relative;
  display: block;
  width: 100%;
  min-height: 450px;

  padding: 30px;
}

.pobox-1 {
  background: url("../images/pobox_img_1.jpg") no-repeat center;
  background-size: cover;
}

.pobox-2 {
  background: url("../images/pobox_img_2.jpg") no-repeat center;
  background-size: cover;
}

.pobox-3 {
  background: url("../images/pobox_img_3.jpg") no-repeat center;
  background-size: cover;
}

.pobox-4 {
  background: url("../images/pobox_img_4.jpg") no-repeat center;
  background-size: cover;
}

.pobox-5 {
  background: url("../images/pobox_img_5.jpg") no-repeat center;
  background-size: cover;
}

/* b-art-hovertag  */
.bahybox {
  position: absolute;
  top: 30px;
  left: 30px;
  display: block;
  width: 0px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s;
}

.pobox:hover > .bahybox {
  width: 267px;
  opacity: 1;
}

.b-art-hovertag {
  position: relative;
  display: block;
  width: 267px;
  height: 390px;
  background-color: rgba(255, 255, 255, 0.8);
}

.b-art-hovertag > .btn-type01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  cursor: pointer;
}

.under-bt {
  position: absolute;
  left: 0;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon-eye {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/icon/ico-sight.png") no-repeat center;
}

.icon-eye:hover {
  background: url("../images/icon/ico-sight-on.png") no-repeat center;
}

.icon-heart {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/icon/ico-like.png") no-repeat center;
  margin-left: 42px;
}

.icon-heart:hover {
  background: url("../images/icon/ico-like-on.png") no-repeat center;
}

.icon-heart::after {
  content: "";
  position: absolute;
  left: -22px;
  top: 2px;
  width: 2px;
  height: 16px;
  background-color: #aaa;
}

/* 베스트 아트 nav */
.sw-b_art-prev {
  background: url("../images/nav_prev.png") no-repeat center;
  position: absolute;
  top: 320px;
  left: -100px;
}

.sw-b_art-next {
  background: url("../images/nav_next.png") no-repeat center;
  position: absolute;
  top: 320px;
  right: -95px;
}

/* //베스트 아트 nav */

.b-art-pagintion {
  position: relative;
  display: block;
  height: 215px;
}

.b-art-pg {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  white-space: nowrap;
}

/* sw b-art-pg */
.swiper-pagination-bullet {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 14px;
  background-color: #666;
  opacity: 1;
  transition: all 0.4s ease;
}

.swiper-pagination-bullet-active {
  background-color: #333;
  transform: scale(1.4);
}
/* 반응형 */
@media all and (max-width: 1600px) {
  .sw-b_art-prev {
    display: none;
  }
  .sw-b_art-next {
    display: none;
  }
}
@media all and (max-width: 1440px) {
  .b-art-slider-box {
    width: 100%;
  }
}

/* ========= ///best art ========= */
/* ------------------------------------------------------------------------------------ */
/* ========= md pick ========= */

.md-pick {
  position: relative;
  display: block;
}

.md-pick .inner {
  background: url("../images/pick-bg.jpg") no-repeat center;
  background-size: cover;
  height: 1052px;
  padding: 100px 0 210px;
}

.art-select {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.art-select a {
  font-size: 18px;
  font-weight: 300;
  color: #333;
}

.art-select span {
  color: #dddddd;
  margin: 0 20px;
}

.art-select-a-focus {
  font-weight: 500 !important;
}

/* md all wrap */
.md-All-wrap {
  position: relative;
  display: block;
  max-width: 1400px;
  width: calc(100% - 100px);
  height: 560px;
  margin: 0 auto;
}

/* 그림작품 */
.painting-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

/* 사진작품 */
.photo-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* bg slide */
.md-mainbox {
  position: absolute;
  left: 60px;
  display: block;
  width: calc(100% - 60px);
  height: 500px;
  background-color: #fff;
  box-shadow: 1px 3px 13px 0px rgba(0, 0, 0, 0.13);
  padding: 30px 80px 30px 700px;
}
/* img slide */
.sw-mdpick {
  position: absolute;
  top: 60px;
  left: 0px;
  display: block;
  width: 640px;
  height: 500px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
  z-index: 9;
}

.sw-mdpick img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  transform: scale(1.1);
  transition: all 3s;
}

.sw-mdpick .swiper-slide {
  overflow: hidden;
}
.sw-mdpick .swiper-slide-active img {
  transform: scale(1);
}

.md-main-img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

/* md nav */
.sw-mdpick-prev {
  background: url("../images/nav_prev.png") no-repeat center;
  position: absolute;
  top: 285px;
  left: -160px;
}
.sw-mdpick-next {
  background: url("../images/nav_next.png") no-repeat center;
  position: absolute;
  top: 285px;
  right: -160px;
}

/* /// md nav */

.md-main-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 450px;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.md-main-text > span {
  position: relative;
  display: block;
  font-family: "Noto Serif KR";
  font-size: 16px;
  letter-spacing: -0.7px;
  line-height: 26px;
  color: #c9ab81;
  margin-top: 30px;
  margin-bottom: 8px;
}

.md-main-text p {
  position: relative;
  display: block;
  margin-bottom: 55px;
}

.md-main-text p b {
  position: relative;
  display: block;
  font-family: "Noto Serif KR";
  font-size: 36px;
  color: #333333;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 30px;
}

.md-main-text p > span {
  position: relative;
  display: block;
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: #666666;
  line-height: 26px;
  max-height: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.md-main-text .btn-type01 {
  width: 180px;
  font-size: 18px;
  line-height: 50px;
}

/* ani */
.md-mainbox .swiper-slide-active .md-main-text > span,
.md-mainbox .swiper-slide-active .md-main-text > p > b,
.md-mainbox .swiper-slide-active .md-main-text > p > span,
.md-mainbox .swiper-slide-active .md-main-text a {
  animation: fadeUp 1s forwards;
}

.md-mainbox .swiper-slide-active .md-main-text > span {
  animation-delay: 0.05s;
}
.md-mainbox .swiper-slide-active .md-main-text > p > b {
  animation-delay: 0.1s;
}
.md-mainbox .swiper-slide-active .md-main-text > p > span {
  animation-delay: 0.15s;
}

/* 반응형 */
@media all and (max-width: 1600px) {
  .md-mainbox {
    padding-left: 640px;
  }
}
@media all and (max-width: 1440px) {
  .sw-mdpick {
    width: 50%;
  }
  .md-mainbox {
    padding-left: 53%;
  }
}
@media all and (max-width: 1025px) {
  .sw-mdpick {
    width: 52%;
    height: 410px;
  }
  .md-mainbox {
    height: 410px;
    padding-left: 53%;
  }
  .md-main-text {
    min-height: auto;
  }
  .md-main-text p b {
    font-size: 24px;
  }
}
@media all and (max-width: 780px) {
  .md-All-wrap {
    width: calc(100% - 40px);
  }
  .sw-mdpick {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .md-mainbox {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    padding: 30px 20px;
  }
}
/* ========= ///md pick ========= */
/* ------------------------------------------------------------------------------------ */
/* ========= new art ========= */
.new-art {
  padding-top: 100px;
}

.n-art-slider-box {
  position: relative;
  display: block;
  width: 1400px;
  height: 940px;
  margin: 0 auto;
  margin-top: 100px;
}

.new-slide-box {
  position: relative;
  display: block;
  width: 100%;
  height: 800px;
  background-color: rgb(255, 255, 255);
}

.newart-imgbox {
  position: relative;
  display: block;
  width: 100%;
  height: 620px;
}

.nai-1 {
  background: url("../images/newart_img_1.jpg") no-repeat center;
  background-size: cover;
}

.nai-2 {
  background: url("../images/newart_img_2.jpg") no-repeat center;
  background-size: cover;
}

.nai-3 {
  background: url("../images/newart_img_3.jpg") no-repeat center;
  background-size: cover;
}

.nai-4 {
  background: url("../images/newart_img_4.jpg") no-repeat center;
  background-size: cover;
}

.nai-5 {
  background: url("../images/newart_img_5.jpg") no-repeat center;
  background-size: cover;
}

.newart-textbox {
  position: absolute;
  top: 550px;
  left: 0;
  display: block;
  width: 100%;
}

.nat1 {
  position: relative;
  display: block;
  width: 85%;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
}

.nat1 span {
  position: relative;
  display: block;
  font-family: "Noto Serif KR";
  letter-spacing: -0.7px;
  color: #c9ab81;
  margin-bottom: 10px;
}

.nat1 h4 {
  position: relative;
  display: block;
  font-family: "Noto Serif KR";
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.newart-textbox p {
  position: relative;
  display: block;
  height: 78px;
  font-family: "Noto Sans KR";
  line-height: 26px;
  color: #666;
  padding-right: 10px;
  margin-top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.newart-textbox .bt-type-2 {
  margin-top: 25px;
}

/* 뉴 아트 nav */
.sw-n_art-prev {
  background: url("../images/nav_prev.png") no-repeat center;
  position: absolute;
  top: 382px;
  left: -100px;
}

.sw-n_art-next {
  background: url("../images/nav_next.png") no-repeat center;
  position: absolute;
  top: 382px;
  right: -100px;
}

/* //뉴 아트 nav */
/* 반응형 */
@media all and (max-width: 1440px) {
  .n-art-slider-box {
    width: 100%;
  }
}

/* ========= //new art ========= */
/* ------------------------------------------------------------------------------------ */
/* ========= more gallery ========= */
.more-gallery {
  position: relative;
  display: block;
}

.more-gallery .inner {
  position: relative;
  display: block;
  height: 663px;
  background: url("../images/gallery-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.gallbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1400px;
  height: 370px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 80px 20px;
}

.gallbox span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #211e1f;
}

.gallbox p {
  position: relative;
  display: block;
  font-family: "Noto Serif KR";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 60px;
}

.gallbox a {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
}

.gallbox a > span {
  font-size: 18px;
  line-height: 50px;
}

@media all and (max-width: 780px) {
  .gallbox span {
    font-size: 30px;
  }
  .gallbox p {
    font-size: 16px;
  }
}
/* ========= ///more gallery ========= */
/* ------------------------------------------------------------------------------------ */
/* ========= review =========*/
.review {
  padding: 150px 50px 160px;
}

.r-slider-box {
  position: relative;
  display: block;
  width: 1400px;
  margin: 0 auto;
  margin-top: 90px;
}

.rev-pobox {
  position: relative;
  display: block;
}

.rev-r-top {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 53px;
  height: 53px;
  background-color: #fff;
  z-index: 99;
}

.rev-r-top p {
  position: relative;
  display: block;
  font-family: "Noto Sans KR";
  font-size: 13px;
  color: #c9ab81;
  text-align: center;
}

.rev-r-top p strong {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1.5px;
}

.revbox-1 {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  background: url("../images/rev_img_1.png") no-repeat center;
  background-size: cover;
}

.revbox-2 {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  background: url("../images/rev_img_2.png") no-repeat center;
  background-size: cover;
}

.revbox-3 {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  background: url("../images/rev_img_3.png") no-repeat center;
  background-size: cover;
}

.re-text-sml {
  position: relative;
  display: block;
  margin-top: 30px;
}

.re-text-sml h5 {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  color: #c9ab81;
}

.re-text-sml h5 span {
  position: relative;
  margin: 0 15px;
}

.re-text-sml h5 span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 10px;
  background-color: #c9ab81;
}

.rtsml-t {
  position: relative;
  display: block;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.rtsml-t p {
  position: relative;
  display: block;
  line-height: 26px;
  color: #666666;
}

.re-text-sml a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  margin-top: 30px;
}

/* 리뷰 nav */
.sw-r_art-prev {
  background: url("../images/nav_prev.png") no-repeat center;
  position: absolute;
  top: 268px;
  left: -100px;
}

.sw-r_art-next {
  background: url("../images/nav_next.png") no-repeat center;
  position: absolute;
  top: 268px;
  right: -100px;
}

/* //리뷰 nav */

/* 리뷰 pg */
.r-art-pagintion {
  position: relative;
  display: block;
  width: 100%;
  height: 7px;
  margin-top: 83px;
}

.r-pg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

@media all and (max-width: 1440px) {
  .r-slider-box {
    width: 100%;
  }
}

/* ========= ///review ========= */
/* ------------------------------------------------------------------------------------ */
/* ========= footer ========= */
.footer {
  position: relative;
  display: block;
  width: 100%;
  padding: 60px 0;
  background-color: #272727;
}

.footer .inner {
  position: relative;
  display: block;
  width: 1400px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #888888;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .inner ul {
  position: relative;
  display: flex;

  margin-bottom: 30px;
}

.footer .inner ul li {
  position: relative;
  display: block;
  margin-right: 25px;
}

.footer .inner ul li a {
  font-weight: 500;
  color: #888888;
}

.footer .inner > p {
  position: relative;
  display: block;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.footer .inner p span {
  font-family: "Noto Sans KR";
}

.company-info {
  display: flex;
  flex-wrap: wrap;
}
.company-info span {
  white-space: nowrap;
}
.float-bar {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #575757;
  margin: 0 12px;
}

.copyright {
  font-family: "EB Garamond";
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #888;
}

.gotop-icon {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #c9ab81;
  border: 0;
  cursor: pointer;

  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
}

.gotop-icon-open {
  visibility: visible;
  opacity: 1;
}

.gotop-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 15px;
  background: url("../images/ico-go-top.png") no-repeat center;
  margin-left: -5px;
  margin-top: -7.5px;
}

@media all and (max-width: 1440px) {
  .footer .inner {
    width: 100%;
    margin-left: 20px;
  }
}
@media all and (max-width: 1025px) {
  .footer .inner {
    font-size: 14px;
  }
  .copyright {
    font-size: 16px;
  }
}

/* ========= ///footer ========= */
